input, button {
  margin: 8px;
}

button {
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  opacity: 0.75;
}

.btn-blue {
  color: white;
  background-color: blue;
}

.btn-white {
  color: blue;
  background-color: white;
  border: 1px solid blue;
}

.hide {
  display: none;
}

.container, .nav {
  display: inline-flex;
  flex-direction: column;
}

.nav a {
  margin: 8px;
}

label {
  margin: 4px;
}
